@model LMSUS.Models.PatientE

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaSsn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaSsn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaChartNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaChartNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaFax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaFax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaSex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaSex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaIdE">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
